*{
    margin: 0;
    padding: 0;
}
nav {
  border-radius: 10px;
  height: 30px;
  border: 1px solid rgb(167, 74, 89);
  box-shadow: 5px 5px 20px rgb(80, 35, 72);
  background-color: aquamarine;
  color: black;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

h1 {
  margin: 0;
  font-size: 24px;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

ul li {
  margin: 0 15px;
}

ul li a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-left: auto;
}

.hamburger span {
  background: black;
  height: 3px;
  width: 25px;
  margin: 3px 0;
  border-radius: 5px;
}

@media (max-width: 600px) {
  ul {
    display: none;
    flex-direction: column;
    background: aquamarine;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 150px;
    padding: 10px;
    border: 1px solid rgb(79, 74, 167);
    border-radius: 10px;
  }

  ul.show {
    display: block;
  }

  .hamburger {
    display: flex;
  }
}
